<div class="highlight-phone">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="intro">
                    <h2 class="title" style="">What is Crop Insurance Calculator?</h2>
                    <p class="text">Crop insurance calculator helps CSC VLEs, farmers to calculate their crop insurance premium, insured amount, government share for specific crop in their district. The perfect tool for CSC VLE's to boost their performance in the
                        heavy rush periods of Crop Insurance!<br><br></p><a style="font-size: 18px; text-decoration: underline;" class="btn btn-warning" role="button" [routerLink]="['/calculator']" routerLinkActive="router-link-active" >Go to Calculator&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a></div>
            </div>
            <div class="col-sm-4">
                <div class="d-none d-md-block iphone-mockup"><img class="device" src="assets/stock/iphone.svg">
                    <div class="screen"></div>
                </div>
            </div>
        </div>
    </div>
</div>
