<div class="album pb-2 bg-light">
    <div class="container">
        <h1 class="title text-center">Featured Deals</h1>
        <p class="text-center text-muted">Boost your business with these products!</p>
        <hr class="text-muted" />
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title title">Top Deals on Mouse and Keyboards</h4>
                        <p class="card-text">Browse through a wide range of keyboards, mice & input devices.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://amzn.to/2DHx1vj" target="_blank" role="button"
                                    class="btn btn-sm btn-outline-primary">Buy On Amazon</a>
                            </div>
                            <a href="https://amzn.to/2DHgMya" target="_blank"><small>amazon.in</small></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!-- img -->
                    <div class="card-body">
                        <h4 class="card-title title">Top Deals on Fingerprint Scanners</h4>
                        <p class="card-text">Browse through wide range of devices like Morpho, Mantra</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a role="button" href="https://amzn.to/363BNPU" target="_blank"
                                    class="btn btn-sm btn-outline-primary">Buy On Amazon</a>
                            </div>
                            <a href="https://amzn.to/2DHgMya" target="_blank"><small>amazon.in</small></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!-- img -->
                    <div class="card-body">
                        <h4 class="card-title title">Bestselling Ink tank printers on Amazon</h4>
                        <p class="card-text">Browse through wide range of printers from brands like Epson</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a role="button" href="https://amzn.to/2OMrx8O" target="_blank"
                                    class="btn btn-sm btn-outline-primary">Buy On Amazon</a>
                            </div>
                            <a href="https://amzn.to/2DHgMya" target="_blank"><small>amazon.in</small></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>