<section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">
          <h2>Our Team</h2>
      </div>
      <ul class="row">
        <li class="col-12 col-md-4 col-lg-4">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img loading="lazy" src="assets/team/santosh.jpg" alt="Santosh Kekarjawalekar" class="img-responsive" alt=""></figure>
              <h3>Santosh Kekarjawalekar</h3>
              <p>Director</p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                <li><a class="text-danger" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-4 col-lg-4">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img loading="lazy" src="assets/team/ganesh.jpg" class="img-responsive" alt=""></figure>
              <h3>Ganesh Bochare</h3>
              <p>Operator</p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                <li><a class="text-danger" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
         </li>
        <li class="col-12 col-md-4 col-lg-4">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img loading="lazy" src="assets/team/pruthviraj.jpg" class="img-responsive" alt=""></figure>
              <h3>Pruthviraj Giram</h3>
              <p>Intern</p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" class="text-danger"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        
        <!--li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="assets/team/sachin.png" class="img-responsive" alt=""></figure>
              <h3>Sachin Kekarjawalekar</h3>
              <p>Web Developer</p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                <li><a class="text-danger" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li-->
      </ul>
    </div>
  </section>