<div style="min-height: 500px;" class="container my-2 text-center">
    <h1 class="title">Business Development</h1>
    <hr class="text-muted mb-1" />
    <div class="row">
        <div [routerLink]="['/calculator']" class="col-sm-12 col-md-6 col-lg-3">
            <div class="card m-2">
                <div class="card-body">
                    <h4 class="card-title">Crop Insurance Calculator</h4>
                    <p class="card-text">Crop Insurance Calculator Increases Your Business Speed</p>
                    <a [routerLink]="['/calculator']" class="card-link">Use Now</a>
                </div>
            </div>
        </div>
        <div [routerLink]="['/premium-charts']" class="col-sm-12 col-md-6 col-lg-3">
            <div class="card m-2">
                <div class="card-body">
                    <h4 class="card-title">Print Advertisement</h4>
                    <p class="card-text">Print the Advertisement of Crop Insurance To Stick It On Your Center Walls</p>
                    <a [routerLink]="['/premium-charts']" class="card-link">Print Now</a>
                </div>
            </div>
        </div>
        <div onclick="window.location.href = 'https://www.kekarjawalekar.com/blog/?utm_source=Crop_Insurance_Calculator&utm_medium=Business_Tools_Card_Link&utm_campaign=promote_kekarjawalekar_com_with_calculator'"
            class="col-sm-12 col-md-6 col-lg-3">
            <div class="card m-2">
                <div class="card-body">
                    <h4 class="card-title">Read Our Blogs</h4>
                    <p class="card-text">Our Blogs Can Help You To Increase Your Business, Understand New Things</p>
                    <a class="card-link"
                        href="https://www.kekarjawalekar.com/blog/?utm_source=Crop_Insurance_Calculator&utm_medium=Business_Tools_Card_Link&utm_campaign=promote_kekarjawalekar_com_with_calculator">Start
                        Reading</a>
                </div>

            </div>
        </div>
        <div onclick="window.location.href = 'https://www.kekarjawalekar.com/csc-locator/?utm_source=Crop_Insurance_Calculator&utm_medium=Business_Tools_Card_Link_CSC_Locator&utm_campaign=promote_kekarjawalekar_com_with_calculator'" class="col-sm-12 col-md-6 col-lg-3">
            <div class="card m-2">
                <div class="card-body">
                    <h4 class="card-title">Business Registration</h4>
                    <p class="card-text">We are creating a website like JustDial to locate nearest CSC for the customer.
                    </p>
                    <a class="card-link"
                        href="https://www.kekarjawalekar.com/csc-locator/?utm_source=Crop_Insurance_Calculator&utm_medium=Business_Tools_Card_Link_CSC_Locator&utm_campaign=promote_kekarjawalekar_com_with_calculator">Register
                        Now For Free</a>
                </div>
            </div>
        </div>
    </div>
    <!--h1 class="title text-center">
        Use Featured Products
    </h1>
    <hr class="mb-1" /-->
    
</div>