@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

.title {
    font-family: 'Bree Serif', serif;
}
.form-label {
    font-family: 'Bree Serif', serif;
}
.title-page { 
    font-family: 'Bree Serif', serif;
    font-style: italic;
}
@media (min-width: 670px) {
    .card-custom {
        width: 600px;
    }
}
.step-2 {
    min-height: 500px;
}
@media (min-height: 600px) {
    .step-2 {
        min-height: 500px;
    }
}
@media (min-height: 700px) {
    .step-2 {
        min-height: 600px;
    }
}
@media (min-height: 800px) {
    .step-2 {
        min-height: 700px;
    }
}
@media (min-height: 900px) {
    .step-2 {
        min-height: 800px;
    }
}
@media (min-width:965px) {
    .setup-body {
      min-height: 500px;
    }
  }