@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

.title {
    font-family: 'Bree Serif', serif;
}
.form-label {
    font-family: 'Bree Serif', serif;
}
.title-page {
    font-family: 'Bree Serif', serif;
    font-style: italic;
}