<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">People Love Us! </h2>
            <p class="text-center">We are providing this app from June - 2018 Kharip Season. Our users love us, here are few words from their desk.</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-6 item">
                <div class="box">
                    <p class="description">पीकविमा कॅलकुलेटर २०१८ मुळे माझे काम खूप सोपे झाले, रकमेचे कॅलकुलेशन करण्यास कमीत कमी वेळ लागल्यामुळे ग्राहकांना जास्त वेळ थांबवून घेण्याची गरज पडली नाही.</p>
                </div>
                <div class="author"><img loading="lazy" class="rounded-circle" src="assets/testimonials/1.jpg" />
                    <h5 class="name">नृसिंह धुळगुंडे</h5>
                    <p class="title">संचालक, अनुजा महा ई सेवा केंद्र, गंगाखेड</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 item">
                <div class="box">
                    <p class="description">पीकविमा कॅलकुलेटर म्हणजे वेळ वाचवण्याचे गणना यंत्र, कमीत कमी वेळात जास्त काम करण्याची ताकत देणारे साधन.</p>
                </div>
                <div class="author"><img class="rounded-circle" src="assets/testimonials/2.jpg" />
                    <h5 class="name">विठ्ठल तरासे</h5>
                    <p class="title">संचालक, आपले सरकार सेवा केंद्र, आसनगाव</p>
                </div>
            </div>
            <!--div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="author"><img loading="lazy" class="rounded-circle" src="https://via.placeholder.com/300" />
                    <h5 class="name">Ben Johnson</h5>
                    <p class="title">CEO of Company Inc.</p>
                </div>
            </div-->
        </div>
    </div>
</div>