<app-featured-products></app-featured-products>

<!--div *ngIf="show()" class="container-fluid my-2">
    <div class="row hide-for-print">
        <div class="col-md-12">
            <div class="card mb-4 shadow-sm">
                <div class="card-body text-center p-2">
                    <iframe class="m-2" style="width:120px;height:240px;" marginwidth="0" marginheight="0"
                        scrolling="no" frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=kportal-in-21&language=en_IN&marketplace=amazon&region=IN&placement=B07SBK2QQX&asins=B07SBK2QQX&linkId=a560faaa6c1f0ff04858035b18cf86ea&show_border=true&link_opens_in_new_window=true"></iframe>
                    <iframe class="m-2" style="width:120px;height:240px;" marginwidth="0" marginheight="0"
                        scrolling="no" frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=kportal-in-21&language=en_IN&marketplace=amazon&region=IN&placement=B0791YHVMK&asins=B0791YHVMK&linkId=04981093a505c5b3a0005dc49cb07410&show_border=true&link_opens_in_new_window=true"></iframe>
                    <iframe class="m-2" style="width:120px;height:240px;" marginwidth="0" marginheight="0"
                        scrolling="no" frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=kportal-in-21&language=en_IN&marketplace=amazon&region=IN&placement=B07X7JH41Q&asins=B07X7JH41Q&linkId=bdfca64494588ebd04deab17cc0fdc17&show_border=true&link_opens_in_new_window=true"></iframe>
                    <iframe class="m-2" style="width:120px;height:240px;" marginwidth="0" marginheight="0"
                        scrolling="no" frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=kportal-in-21&language=en_IN&marketplace=amazon&region=IN&placement=B0000YTXOU&asins=B0000YTXOU&linkId=f0ec5e5ded1d572a703ac598b9fdb8bb&show_border=true&link_opens_in_new_window=true"></iframe>
                    <iframe class="m-2" style="width:120px;height:240px;" marginwidth="0" marginheight="0"
                        scrolling="no" frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=kportal-in-21&language=en_IN&marketplace=amazon&region=IN&placement=B07J6NZM2B&asins=B07J6NZM2B&linkId=0d7fee1022795ea72e04124941959e6e&show_border=true&link_opens_in_new_window=true"></iframe>
                    <iframe class="m-2" style="width:120px;height:240px;" marginwidth="0" marginheight="0"
                        scrolling="no" frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=kportal-in-21&language=en_IN&marketplace=amazon&region=IN&placement=B07KYK4RTW&asins=B07KYK4RTW&linkId=e1aa41f5aa4d49325f04250edfc792e3&show_border=true&link_opens_in_new_window=true"></iframe>
                    <iframe class="m-2" style="width:120px;height:240px;" marginwidth="0" marginheight="0"
                        scrolling="no" frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=kportal-in-21&language=en_IN&marketplace=amazon&region=IN&placement=B07JXYQK82&asins=B07JXYQK82&linkId=ce2315bd91e6a7a7c09b6e2314cf846c&show_border=true&link_opens_in_new_window=true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div-->
