<section id="counter">
    <div class="container">
        <h2 class="py-2 text-center title">Our Achievements of 2018 - 2019</h2>
        <p class="lead text-center">Numbers doesn't matter, satisfaction of being useful is important!</p>

        <div class="row py-3">
            <div class="col-md-4 col-sm-12 py-3">
              <div class="card-counter">
                <p><i class="fa fa-user"></i></p>
                <h3>8,000+</h3>
                <p>Unique Users</p>
              </div>
            </div>

            <div class="col-md-4 col-sm-12 py-3">
              <div class="card-counter">
                <p><i class="fa fa-chart-line"></i></p>
                <h3>1,20,000+</h3>
                <p>Pageviews</p>
              </div>
            </div>

            <div class="col-md-4 col-sm-12 py-3">
              <div class="card-counter">
                <p> <i class="fa fa-map-marker-alt"></i> </p>
                <h3>33</h3>
                <p>Districts</p>
              </div>
            </div>

          </div>
    </div>
</section>
