<div class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center title">Features </h2>
            <p class="text-center">Here are some key features of our calculator!</p>
        </div>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fas fa-map-marker-alt icon"></i>
                    <h3 class="name">All Districts Included</h3>
                    <p class="description">We started this app consisting data from Parbhani and Jalna districts in 2018, now this season we have included pricings from all districts of maharashtra.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="far fa-edit icon"></i>
                    <h3 class="name">Easy to Use</h3>
                    <p class="description">You might have thought that why to use this calculator when official calculator is available on pmfby website, but simplicity is our priority.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fas fa-bell icon"></i>
                    <h3 class="name">Stay Updated &amp; informed</h3>
                    <p class="description">Stay updated and informed about the notifications by pmfby portal, best practices to follow and techniques to increase your business with our blog.</p>
                </div>
            </div>
        </div>
    </div>
</div>