<nav class="navbar navbar-expand-lg header-nav-gradient navbar-light">
    <a class="navbar-brand" routerLink="/" ><img src="assets/icons/48.png" height="48px" alt="crop">&nbsp;<span class="brand-text">Crop Insurance Calculator</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/calculator" routerLinkActive="active"><i class="fas fa-calculator"></i> Calculator</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/business-development-tools" routerLinkActive="active"><i class="fas fa-toolbox"></i> Business Tools</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="https://www.kekarjawalekar.com/blog/?utm_source=Crop_Insurance_Calculator&utm_medium=Navbar_Blog_Link&utm_campaign=promote_kekarjawalekar_com_with_calculator"><i class="fas fa-book-reader"></i> Blog</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/about" routerLinkActive="active"><i class="fas fa-users"></i> About</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active"><i class="fas fa-envelope"></i> Contact</a>
        </li>
        
      </ul>
    </div>
  </nav>
  