@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.header-title {
    font-family: 'Anton', sans-serif; 
    color: #d8ff00;
    -webkit-text-stroke: 1px red;
}
.header-tagline {
    color: #002142;
    font-weight: bolder;
}

.call-to-action-btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    background-color: #ff9800;
    letter-spacing: 1.3px;
    font-weight: bolder;
}
.call-to-action-btn:hover {
    background: #e68a00
}
