<header class="masthead" style="background-image:url('assets/stock/photo-of-person-holding-pen.jpg')">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="header-title">Let Our App Do The Hard Math For You While You Focus On Your Business</h1>
          <br />
          <p class="lead header-tagline">Focus on your business while making the calculations of crop insurance easily using our app to achieve your goals...</p>
          <br />
          <img alt="Kekarjawalekar Technologies Logo" src="assets/kt.png">
          <br />
        </div>
      </div>
    </div>
  </header>