/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@600&display=swap');
* {
  font-family: 'Karma', serif;
}
.lang-mr {
  font-family: 'Karma', serif;
}
optgroup {
    font-size: 0;
}
.height {
    min-height: 500px
}
html, body
{
    height: 100%;
}
.dont-show-on-screen {
    display: none
}
@media print {
    .hide-for-print {
        display: none
    }
    .print-dark-to-light {
        background: white !important;
        color: black !important;
    }
    .copyright {
        display: none;
    }
    .print {
        display: '';
    }
    @page {
        size: auto;
    }

}




