/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
.lang-mr {
    font-family: 'Noto Sans', sans-serif;
}
optgroup {
    font-size: 0;
}
.height {
    min-height: 500px
}
html, body
{
    height: 100%;
}
.dont-show-on-screen {
    display: none
}
@media print {
    .hide-for-print {
        display: none
    }
    .copyright {
        display: none;
    }
    .print {
        display: '';
    }
    @page {
        size: auto;
    }
    
}




