
label {
    font-weight: bolder;
}
input, textarea {
    letter-spacing: 1.2px;
}
.table-row-font {
    font-size: 20px;
}
.bg-card {
    background: lightgreen;
}
td,th {
    vertical-align: middle;
}

@media print {
    @page {
        size: auto;
    }
      .page-a4-landscape {
          width: 100%;
      }
}
